.title{
    font-size: 35px;
    margin-left: 40px;
    color:#0f4c75;
    /* border: 1px solid red */
}
.wrapCampaign{
    /* border: 1px solid red; */
    background-color: #4f8a8b;
    border-radius: 10px;
    margin-left: 20px;
    width: 1200px;
    height: 200px;
}

.wrapbutton{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin-top:100px
}
.button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #222831;
    text-align: center;
    width: 500px;
    height: 60px;
}
.titleCampaign{
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    margin-left: 20px;
    font-size: 35px;
    color:#fbd46d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.objList{
    margin-left: 30px;
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.objLink{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button:hover{
    cursor: pointer;
}

.inactivas{
    margin-left: 80px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.span{
    color: #0f4c75;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    text-align: justify;
}
.link{
    text-decoration: none;
}
.link:hover{
    cursor: wait;
}