body{
    background-color: #eeeeee;
    display: flex;
    margin: 0;
    padding: 0;
}
.wrap{
    /* align-items: center; */
    display: flex;
    width: fit-content;
    height: fit-content;
    align-content: center;
    
}
.divSearch{
    /* border: 1px solid red; */
    margin: 50px;
    display: flex;
    justify-content: center;
}
.search{
    width: 800px;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 30px;
    padding-left: 40px;
}

