
.alogin{ 

   margin-left: 800px;
   display: flex;
    align-self: center;
    font-size: medium;
    color:white!important;
  
    background-color:orange; 
    justify-content: center;
}
.alogin a{
    margin-left: 15px;
}
.logoimg{
    display: flex;
    padding-top: 50px;
   
    margin-right: 5px;
    margin-bottom: 10px;
    z-index: 1;
    width: 500px;
    height: 200px;
}

.w_titulo{
    /* border: 1px solid red; */
    height: 50px;
    margin-top: 0;
}
.titulo{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}
.wrapp_user{
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid red; */}
    
.user{
    color: black;
    font-size: 20px;
    /* margin-left: -18px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    text-align: center;
}

.input{
    color: grey;
    font-size: 18px;
    text-align: center;
    width: 300px;
    height: 20px;
    background-color: transparent;
    border: solid 1px;
    border-radius: 10px;
    
    
}
.input:focus{
    outline: none;
}
::placeholder{
    color: black  ;
    font-size: 13px;
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 10px;
}
 .button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #005082;
    border: #005082;
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 118px;
    color: #00a8cc;
    justify-items: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button:hover{
    background-color: #000839;
    color: #005082;
}
.div_register{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.user_registrer{
    color: white;
    text-decoration: none;
}
.user_registrer:hover{
    color: black;
    text-decoration: none;
}